@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

body{
    background-color: #f3d6d0;
    margin: auto;
}

header{
    text-align: center;
    background-color: #F27052;
    padding: 2%;
    color: white;
    font-size: x-large;
}

.flex-container {
    background-color: #f78a71;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.flex-container a:hover {
    background-color: #f59e8a;
    color: #F2E3D5;
}

.flex-container a{
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Gideon Roman', cursive;
    text-align: center;
}


.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 50% 30%;
    width: auto;
    column-gap: 5%;
    place-items: center stretch;
    margin-top: 10%;
    justify-items: stretch;
}

.grid-item{
    margin-left: 4%;
    margin-bottom: 3%;
    border: 1px solid;
    padding-top: 5%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 100%;
    text-align: center;
}

/* Primero montar el layout, luego la responsividad y después vamos montando poco a poco 
display: grid para hacer un grid
grid-template-columns: repeat (auto-fill )*/ 


